VITE_SUPABASE_URL=https://supabase.infra-remakingautomacoes.cloud
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJyb2xlIjogImFub24iLAogICJpc3MiOiAic3VwYWJhc2UiLAogICJpYXQiOiAxNzE1MDUwODAwLAogICJleHAiOiAxODcyODE3MjAwCn0.VFKkaPwcpuWYV2L-iMR5K_07259lQZvOUX67u0a8W4Q
